<div class="borderBottom fixed-top">
  <div class="container">
    <div class="row headerStyle">
      <div class="col-md-7">
        <div>
          <img
            [routerLink]="['/']"
            style="width: 14%; cursor: pointer"
            src="assets/logoWhite.png"
          />
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div [routerLink]="['/games']" class="col-md-3 navPages">Games</div>
          <div class="col-md-3 navPages">Carrers</div>
          <div class="col-md-3 navPages">Devs</div>
          <div class="col-md-3 navPages">About Us</div>
        </div>
      </div>
    </div>
  </div>
</div>
