<div class="borderBottom">
  <div class="container">
    <div class="row headerStyle">
      <div class="col-md-7">
        <div>
          <img style="width: 14%" src="assets/logoWhite.png" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3">Games</div>
          <div class="col-md-3">Carrers</div>
          <div class="col-md-3">Devs</div>
          <div class="col-md-3">About Us</div>
        </div>
      </div>
    </div>
  </div>
</div>
