<section>
  <section id="footer">
    <div style="background: #000; color: white">
      <div class="container" style="padding: 48px 130px 0">
        <div class="row">
          <div class="col-md-5" style="display: flex">
            <div class="col-md-6">
              <div class="titleFoot">Products</div>
              <div class="subTittleFoot">Games</div>
              <div class="subTittleFoot">Apps</div>
            </div>
            <div class="col-md-6 titleFoot">
              <div class="titleFoot">Company</div>
              <div class="subTittleFoot">Carrers</div>
              <div class="subTittleFoot">Devs</div>
              <div class="subTittleFoot">About Us</div>
            </div>
          </div>
          <div class="col-md-3 offset-md-4 iconRow">
            <img class="iconFooter" src="assets/twitter.png" />
            <img class="iconFooter" src="assets/apple.png" />
            <img class="iconFooter" src="assets/google-play.png" />
          </div>
        </div>
        <div class="row">
          <div class="footerRow">
            <div class="rowInfo" style="color: white; cursor: default">
              ©2021 Icy Peak
            </div>
            <span class="rowInfo dot">&#8226;</span>
            <div class="rowInfo">Terms</div>
            <span class="rowInfo dot">&#8226;</span>
            <div class="rowInfo">Privacy</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
