<!--Main Text-->
<section>
  <section style="padding-bottom: 60px">
    <div class="container">
      <div
        class="row col-md-12"
        style="display: flex; padding-top: 40px; text-align: center"
      >
        <div style="font-size: 3em; font-weight: 500; margin-bottom: 20px">
          The Company
          <!-- Not related to any series in particular kekw -->
        </div>
        <div class="col subtitleDescription">
          Working towards building a better experience to our custumers, we are
          always looking to improove on any, and I mean it, any area of the
          company, feel free to contact us @ (+550459XXXXXXXX)
        </div>
      </div>
    </div>
  </section>
</section>
<!--Main Text-->
