<!--Main Text-->
<section>
  <section style="padding-bottom: 60px">
    <div class="container">
      <div
        class="row col-md-12"
        style="display: flex; padding-top: 40px; text-align: center"
      >
        <div style="font-size: 3em; font-weight: 500; margin-bottom: 20px">
          Our Dev Team!
        </div>
        <div class="col companyDescription">
          We are a group of developers who seeks to bring joy to other players
          who want the same experience as us when it comes to mobile games!
        </div>
      </div>
    </div>
  </section>
</section>
<!--Main Text-->
