<!--Main Text-->
<section>
  <section style="padding-bottom: 60px">
    <div class="container">
      <div class="row col-md-8" style="display: flex; padding-top: 40px">
        <div style="font-size: 3em; font-weight: 500; margin-bottom: 20px">
          Our Stalactite Games!
        </div>
        <div class="col-md-4 subtitleDescription" style="width: 100%">
          We design games with love and passion, creating and developing ideas
          that we would like to play
        </div>
      </div>
    </div>
  </section>
</section>
<!--Main Text-->
