<!--Main Text-->
<!-- <section>
  <section>
    <div class="container">
      <div class="row">
        <div style="font-family: Arial, Helvetica, sans-serif">
          Voodoozada neles
        </div>
      </div>
    </div>
  </section>
</section>
<img
  src="assets/whiteMountain.jpg"
  style="width: -webkit-fill-available; margin-bottom: 64px"
/> -->

<div class="example">
  <img class="background-image" src="assets/whiteMountain.jpg" />
  <div class="overlay" style="position: absolute">
    <h1 class="jt --debug">
      <span class="jt__row">
        <span class="jt__text"> Gaming Beyond Heights </span>
      </span>
      <span class="jt__row jt__row--sibling" aria-hidden="true">
        <span class="jt__text">Gaming Beyond Heights </span>
      </span>
    </h1>
  </div>
</div>

<!-- <div class="example">
  <img class="background-image" src="assets/whiteMountain.jpg" />
  <div class="overlay">
    <script type="application/javascript">
      var h1 = document.querySelector("h1");
      h1.addEventListener("input", function () {
        this.setAttribute("data-heading", this.innerText);
      });
    </script>
    <h2 contenteditable data-heading="Icy Peak">Icy Peak</h2>
  </div>
</div> -->

<section>
  <!-- Primeira Section -->
  <section>
    <div
      style="padding-top: 0px; padding-bottom: 120px; height: 534px"
      class="container"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="gameStudio">GAME STUDIO</div>
          <div class="funGames">
            The Art Of <br />
            Creating Games
          </div>
          <div class="companyDescription">
            Game Development is the art of delevolping what we vision for the
            future and making our goals real
          </div>

          <div>
            <button [routerLink]="['/games']" class="btn buttonGames">
              Our Games
            </button>
          </div>
        </div>

        <div class="col-md-6" style="font-family: Arial, Helvetica, sans-serif">
          AAAAAAAAAAAAAAAAA
        </div>
      </div>
    </div>
  </section>
  <!-- Segunda Section -->
  <section>
    <div style="padding-top: -20px; padding-bottom: 60px" class="container">
      <div class="row">
        <div class="col-md-6" style="font-family: Arial, Helvetica, sans-serif">
          Voodoozada neles
        </div>
        <div class="col-md-6">
          <div class="gameStudio">GAME STUDIO</div>
          <div class="funGames">We build 4fun games</div>
          <div class="companyDescription">
            We build awesome games for our players. Take a break and discover a
            lifetime of endless games!
          </div>
          <div style="display: none">
            Icons made by
            <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"
              >www.flaticon.com</a
            >
          </div>
          <div class="gamesLaunched">
            <img class="iconsStyle" src="assets/rocket.png" />
            3 Games Launched!
          </div>
          <div class="gamesLaunched">
            <img class="iconsStyle" src="assets/controler.png" />
            2 downloads
          </div>
          <div class="gamesLaunched">
            <img class="iconsStyle" src="assets/people.png" />
            3 monthly active users
          </div>
          <div>
            <button [routerLink]="['/games']" class="btn buttonGames">
              Our Games
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Terceira Section -->
  <section>
    <div style="padding-top: 0px; padding-bottom: 120px" class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="gameStudio">GAME STUDIO</div>
          <div class="funGames">We build 4fun games</div>
          <div class="companyDescription">
            We build awesome games for our players. Take a break and discover a
            lifetime of endless games!
          </div>
          <div style="display: none">
            Icons made by
            <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"
              >www.flaticon.com</a
            >
          </div>
          <div class="gamesLaunched">
            <img class="iconsStyle" src="assets/rocket.png" />
            3 Games Launched!
          </div>
          <div class="gamesLaunched">
            <img class="iconsStyle" src="assets/controler.png" />
            2 downloads
          </div>
          <div class="gamesLaunched">
            <img class="iconsStyle" src="assets/people.png" />
            3 monthly active users
          </div>
          <div>
            <button [routerLink]="['/games']" class="btn buttonGames">
              Our Games
            </button>
          </div>
        </div>

        <div class="col-md-6" style="font-family: Arial, Helvetica, sans-serif">
          Voodoozada neles
        </div>
      </div>
    </div>
  </section>
</section>
